body {
    background-color: #e0e051;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.perfect_pizza{
    text-align: center;
    font-size: xx-large;
 
}
.contain {
    margin: 1em;
    margin-bottom: 0.5em;
    padding: 1em;
    padding-top: 0em;
    border-radius: 1em;
    box-align: center;
    position: relative;
}

.cart {
    background-color:#00F5D4;
    flex: 1;
    padding-top: 0.1em;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    
}

.item {
    text-align: center;
}

.checkOut, .payBtn {
    display: block;
    margin: auto;
    border-radius: 1em;
    border: none;
    padding: 10px 15px;
    background-color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pBtn, .mBtn {
    display: block;
    margin: auto;
    border-radius: 2em;

    padding: 5px 10px;
    background-color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pAmt {
    font-size: 12pt;
    font-weight: bold;
}

.payAmt {
    border: none;
    margin-left: 3px;
    padding: 5px;
    background-color: darkgray;
    font-size: 12pt;
    font-weight: bold;
}
    

.pizza{
    border: 2px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;  
    text-align: center;
}

.medium_pizza{
    background-color: #B1A7A6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.large_pizza{
    background-color: #284B63;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.small_pizza{
    background-color: #3C6E71;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.contact_us{
    background-color: #FDF0D5 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    

    
}
@media (min-width: 760px ) {
    .pizzas{
        display: flex;
    }
}