body {
    background-color: #e0e051;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.perfect_pizza{
    text-align: center;
    font-size: xx-large;
 
}
    

.pizza{
    border: 2px solid;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;  
    text-align: center;
}

.medium_pizza{
    background-color: #B1A7A6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.large_pizza{
    background-color: #284B63;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.small_pizza{
    background-color: #3C6E71;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.contact_us{
    background-color: #FDF0D5 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    

    
}
@media (min-width: 760px ) {
    .pizzas{
        display: flex;
    }
}